@import "tailwindcss";

:root {
  --background: #ffffff;
  --white-color: #ffffff;
  --foreground: #1c2b33;
  --secondary: #3776ff;
  --secondary-dim: hsl(214, 89%, 52%);
  --secondary-light: #ecf0f7;
  --border: #dddfe2;
  --some-color: #42b72a;
}
/* Remove the N overlay */
/* nextjs-portal {
  display: none;
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
